/* Footer.css */
.footer {
    background-color: #f5f7fa;
    padding: 52px 0;
  }
  
  .footer-content {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }
  
  .footer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
  }
  
  .footer-group.column {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-group-title {
    margin-bottom: 8px;
  }
  
  .footer-link {
    display: block;
    color: #576274;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer-link:hover {
    color: #1c7ed6;
  }
  
  .footer-link.strong {
    font-weight: bold;
    font-size: 16px;
    padding-left: 25px;
  }
  
  .footer-bottom {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
  }
  
  /* Footer.css */

/* Mobile Styles */
@media screen and (max-width: 767px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-group.column {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /* Tablet Styles */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-content {
      flex-wrap: wrap;
    }
  
    .footer-group {
      width: 40%;
    }
  
    .footer-group.column {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /* Desktop Styles */
  @media screen and (min-width: 1024px) {
    .footer-content {
      flex-wrap: nowrap;
    }
  
    .footer-group {
      width: auto;
    }
  
    .footer-group.column {
      flex-direction: column;
      align-items: flex-start;
    }
  }